footer {
    @include flexCenter();
    flex-direction: column;
    background-color: #090a1a;
    color: $primaryWhite;
    padding: 10px 0;

        a {
            @include fontSize(16);
        }
}