:root {
    --width: 50px;
    --x-speed: 13s;
    --y-speed: 7s;
    --transition-speed: 2.2s;
    --wrap-left: 20px;
    --wrap-right: 20px;
}

section {
    &.wrapper {
        margin: 60px auto;
    }

    h3 {
        text-align: center;
        @include fontSize(45);
        text-transform: capitalize;
        margin: 0 0 30px 0;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.giraffe-facts-section {
    div {

        p, 
        div {
                width: 50%;
            }

        p {
            margin-left: 10px;
        }

    }
}

.gallery {
    div {
        flex-wrap: wrap;

        div {
            width: 250px;
            margin: 10px;
        }
    }
}

.links {
    div {
        display: flex;
        flex-wrap: wrap;
    }

    a {
        @include fontSize(20);
        display: inline-block;
        padding: 10px 0;
    }

    #{$anchorTagHoverFocus} {
        color: $primaryAccent;
    }
}

.cover{
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    height: 800px;
    position: relative;
}


$green: #7ceaa4;
$purple: #3b3d54;


.svg-wrap{
    width: var(--width);
    box-sizing: border-box;
}

.wrap-odd{
    animation: x1 var(--x-speed) linear infinite alternate;
    position: absolute;
    left: var(--wrap-left)
}

.wrap-even {
    animation: x2 var(--x-speed) linear infinite alternate;
    position: absolute;
    right: var(--wrap-right);
}

.svg{
    animation: y var(--y-speed) linear infinite alternate;
    width: var(--width);
    height: var(--width);
    box-sizing: border-box;
}

.svg path {
    width: var(--width);
    height: var(--width);
}

.svg g {
    width: var(--width);
    height: var(--width);
}


@keyframes x1 {
    100% {
        transform: translateX(calc(100vw - var(--width)));
    }
  }
  @keyframes x2 {
    // 0% {
    //     transform: translateX(0);
    // };
    100% {
      transform: translateX(calc(-90vw + var(--width)));
    }
  }
  @keyframes y {
    100% {
        transform: translateY(calc(700px - var(--width)));
    }
  }


// $total: 10;
// @for $i from 1 through $total {
// 	$scale:random(2) - .4;
	
// 	.svg:nth-child(#{$i}){
// 		animation: raise#{$i} 6 + random(15) +s linear infinite;
// 		animation-delay:random(5) - 5 + s;
// 		transform: scale(.3 * $i - .6) rotate(random(360) + deg);
// 		z-index: $i - 7;
// 		filter: blur($i - 6 + px);

// 	  @keyframes raise#{$i} {
// 		  to{
// 			 bottom:150vh;
// 			 transform: scale(.3 * $i - .6) rotate(random(360) + deg);
// 			}
// 		}
// 	}
// }

