:root {
    --width: 50px;
    --x-speed: 13s;
    --y-speed: 7s;
    --transition-speed: 2.2s;
    --animation-left: 800px;
}

section {
    &.wrapper {
        margin: 60px auto;
    }

    h3 {
        text-align: center;
        @include fontSize(45);
        text-transform: capitalize;
        margin: 0 0 30px 0;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.giraffe-facts-section {
    div {

        p, 
        div {
                width: 50%;
            }

        p {
            margin-left: 10px;
        }

    }
}

.gallery {
    div {
        flex-wrap: wrap;

        div {
            width: 250px;
            margin: 10px;
        }
    }
}

.links {
    div {
        display: flex;
        flex-wrap: wrap;
    }

    a {
        @include fontSize(20);
        display: inline-block;
        padding: 10px 0;
    }

    #{$anchorTagHoverFocus} {
        color: $primaryAccent;
    }
}

.cover{
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    height: 800px;
    position: relative;
}




$green: #7ceaa4;
$purple: #3b3d54;



.svg-wrap{
    width: var(--width);
}

.wrap-1, .wrap-3, .wrap-5, .wrap-7{
    animation: x1 var(--x-speed) linear infinite alternate;
    position: absolute;
}

.wrap-3{
    animation: 20s
}

.wrap-2, .wrap-4, .wrap-6, .wrap-6, .wrap-8 {
    animation: x2 var(--x-speed) linear infinite alternate;
    position: absolute;
}

.wrap-1{
  top: 0;
  left:0;
}
.wrap-2{
    top: 0;
    right:0;
}
.wrap-3{
    top: 20px;
    left:20px
}
.wrap-4{
    top: 20px;
    right:20px
}
.wrap-5{
    top: 40px;
    left:40px;
}
.wrap-6{
    top: 40px;
    right:40px;
}
.wrap-7{
    top:60px;
    left:60px;
}
.wrap-8{
    top: 60px;
    right:60px;
}

.svg{
    animation: y var(--y-speed) linear infinite alternate;
    width: var(--width);
    height: var(--width);
}

@keyframes x1 {
    100% {
        transform: translateX(calc(100vw - var(--width)));
    }
  }
  @keyframes x2 {
    // 0% {
    //     transform: translateX(0);
    // };
    100% {
      transform: translateX(calc(-90vw + var(--width)));
    }
  }
  @keyframes y {
    100% {
        transform: translateY(calc(500px - var(--width)));
    }
  }


// $total: 10;
// @for $i from 1 through $total {
// 	$scale:random(2) - .4;
	
// 	.svg:nth-child(#{$i}){
// 		animation: raise#{$i} 6 + random(15) +s linear infinite;
// 		animation-delay:random(5) - 5 + s;
// 		transform: scale(.3 * $i - .6) rotate(random(360) + deg);
// 		z-index: $i - 7;
// 		filter: blur($i - 6 + px);

// 	  @keyframes raise#{$i} {
// 		  to{
// 			 bottom:150vh;
// 			 transform: scale(.3 * $i - .6) rotate(random(360) + deg);
// 			}
// 		}
// 	}
// }

